<%- include('./partials/header.ejs') %>


<form id="blog" action="/api/coches" method="POST">
   <ul> 
     <li><label for="marca">Marca:</label>
    <textarea id="marca" name="marca" required rows="2" cols="70"></textarea></li>
    <li><label for="modelo">Modelo:</label>
    <textarea id="modelo" name="modelo" required rows="2" cols="70"></textarea></li>
    <li><label for="cilindrada">Cilindrada:</label>
    <textarea id="cilindrada" name="cilindrada" required rows="2" cols="70"></textarea></li>
    <li><label for="combustible">Combustible:</label>
    <textarea id="combustible" name="combustible" required rows="2" cols="70"></textarea></li>
   
    
    <li><input type="submit" value="Crear nuevo coche"></li>
  </ul>
  </form>


  <%- include('./partials/footer.ejs') %>