<%- include("./partials/header.ejs") %>

<form id="blog" action="/api/blogs" method="POST">
    <ul> 
      <li><label for="marca">Marca:</label>
     <textarea id="marca" name="marca" required rows="2" cols="70"></textarea></li>
     <li><label for="modelo">Modelo:</label>
     <textarea id="modelo" name="modelo" required rows="2" cols="70"></textarea></li>
     <li><label for="cilindrada">Cilindrada:</label>
     <textarea id="cilindrada" name="cilindrada" required rows="2" cols="70"></textarea></li>
     <li><label for="combustible">Combustible:</label>
     <textarea id="combustible" name="combustible" required rows="2" cols="70"></textarea></li>
    
     
     <li><input type="submit" value="Crear nuevo coche"></li>
   </ul>
   </form>

<ul>
<li><a id="post" href="#">post coche</a></li>
<li><a id="readAll" href="#">read the coche</a></li>
<li><a id="read" href="#">read coche</a></li>
<li><a id="update" href="#">update coche</a></li>
<li><a id="delete" href="#">delete coche</a></li>
</ul>
<%- include("./partials/footer.ejs") %>