<%- include("./partials/header.ejs") %>
<ul>
<li><a id="post" href="#">post coche</a></li>
<li><a id="readAll" href="#">read the coche</a></li>
<li><a id="read" href="#">read coche</a></li>
<li><a id="update" href="#">update coche</a></li>
<li><a id="delete" href="#">delete coche</a></li>
</ul>
<%- include("./partials/footer.ejs") %>